<div
  id="modal_mySidenav"
  class="modal modal-left fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" style="width: 400px">
    <div class="modal-content">
      <div id="mySidenav" class="sidenav">
        <a
          href="javascript:void(0)"
          id="btnClose"
          data-bs-dismiss="modal"
          class="closebtn"
          >&times;</a
        >
        <a href="/Home/Index"><i class="fa-solid fa-house"></i>Ana Ekran</a>
        <a asp-controller="User" asp-action="Cikis"
          ><i class="fa-solid fa-user"></i> Çıkış</a
        >

        <a class="bottom" href="#" style="display: inline-block"
          ><i class="fa fa-sharp fa-solid fa-comment"></i>Yardım</a
        >
        <a
          class="bottom"
          style="bottom: 20px; font-size: 16px; display: inline-block"
          ><i class="fa fa-sharp fa-solid fa-info"></i>1.0.0</a
        >
      </div>
    </div>
  </div>
</div>
