<!-- <app-loading-screen [isLoading]="isLoading"></app-loading-screen> -->

<button (click)="askForAudioPermission()">Ask for Audio Permission</button>

<div *ngIf="isLoading == false" class="contaier">
  <div class="row">
    <div class="col">
      <div class="row mx-2 my-2">
        <table class="table table-bordered table-striped ozelliktablo">
          <tbody>
            <tr>
              <td>
                {{
                  cicekBilgi?.ozellikAdi1 == "" ? "-" : cicekBilgi?.ozellikAdi1
                }}
              </td>
              <td>
                {{ cicekBilgi?.ozellik1 == "" ? "-" : cicekBilgi?.ozellik1 }}
              </td>
            </tr>
            <tr>
              <td>
                {{
                  cicekBilgi?.ozellikAdi2 == "" ? "-" : cicekBilgi?.ozellikAdi2
                }}
              </td>
              <td>
                {{ cicekBilgi?.ozellik2 == "" ? "-" : cicekBilgi?.ozellik2 }}
              </td>
            </tr>
            <tr>
              <td>
                {{
                  cicekBilgi?.ozellikAdi3 == "" ? "-" : cicekBilgi?.ozellikAdi3
                }}
              </td>
              <td>
                {{ cicekBilgi?.ozellik3 == null ? "-" : cicekBilgi?.ozellik3 }}
              </td>
            </tr>
            <tr>
              <td>
                {{
                  cicekBilgi?.ozellikAdi4 == "" ? "-" : cicekBilgi?.ozellikAdi4
                }}
              </td>
              <td>
                {{ cicekBilgi?.ozellik4 == "" ? "-" : cicekBilgi?.ozellik4 }}
              </td>
            </tr>
            <tr>
              <td>
                {{
                  cicekBilgi?.ozellikAdi5 == "" ? "-" : cicekBilgi?.ozellikAdi5
                }}
              </td>
              <td>
                {{ cicekBilgi?.ozellik5 == "" ? "-" : cicekBilgi?.ozellik5 }}
              </td>
            </tr>
            <tr>
              <td>
                {{
                  cicekBilgi?.ozellikAdi6 == "" ? "-" : cicekBilgi?.ozellikAdi6
                }}
              </td>
              <td>
                {{ cicekBilgi?.ozellik6 == "" ? "-" : cicekBilgi?.ozellik6 }}
              </td>
            </tr>
            <tr>
              <td>
                {{
                  cicekBilgi?.ozellikAdi7 == "" ? "-" : cicekBilgi?.ozellikAdi7
                }}
              </td>
              <td>
                {{ cicekBilgi?.ozellik7 == "" ? "-" : cicekBilgi?.ozellik7 }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="row my-2">
        <!-- <div style="width: 100%; height: 70%; margin: 10px"> -->
        <app-photo-screen></app-photo-screen>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
