<app-loading-screen [isLoading]="isLoading"></app-loading-screen>

<table
  *ngIf="isLoading == false"
  class="table table-bordered table-striped table-hover depoGiris"
  style="overflow-x: scroll"
>
  <thead>
    <tr>
      <th>Cinsi</th>
      <th>Depo No</th>
      <th>{{ depoGiris?.at(0)?.ozellikAdi1 }}</th>
      <th>{{ depoGiris?.at(0)?.ozellikAdi2 }}</th>
      <th>{{ depoGiris?.at(0)?.ozellikAdi3 }}</th>
      <th>{{ depoGiris?.at(0)?.ozellikAdi4 }}</th>
      <th>{{ depoGiris?.at(0)?.ozellikAdi5 }}</th>
      <th>{{ depoGiris?.at(0)?.ozellikAdi6 }}</th>
      <th>{{ depoGiris?.at(0)?.ozellikAdi7 }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let modelItem of depoGiris"
      [ngClass]="modelItem.satisDurum == true ? 'table-success' : 'table-light'"
    >
      <td>
        {{ modelItem.cinsi }}
      </td>
      <td>
        {{ modelItem.d_SiraNo }}
      </td>
      <td>
        {{ modelItem.ozellik1 }}
      </td>
      <td>
        {{ modelItem.ozellik2 }}
      </td>
      <td>
        {{ modelItem.ozellik3 }}
      </td>
      <td>
        {{ modelItem.ozellik4 }}
      </td>
      <td>
        {{ modelItem.ozellik5 }}
      </td>
      <td>
        {{ modelItem.ozellik6 }}
      </td>
      <td>
        {{ modelItem.ozellik7 }}
      </td>
    </tr>
  </tbody>
</table>
