.depoGiris td,
.depoGiris tr {
  font-size: 16px;
  font-size: 1vw;
  border-color: black;
  border: black;
  font-weight: bold;
}

.isCompleted {
  background: red;
  color: white;
}

/* .center_loading{
    position: absolute;
    top: "50%";
    left: "50%";
    margin-top: "-50px";
    margin-left: "-50px";
} */
    split-area > div {
      position: relative;
      background: red;
      height: 100%;
      overflow: auto;
    }