<div style="width: 40%; height: 100%; float: left">
  <app-live-display></app-live-display>
</div>

<div style="width: 60%; height: 100%; float: right; text-align: right">
  <div style="width: 100%; height: 40%; float: inline-start">
    <div class="container shadow">
      <app-item-info-screen></app-item-info-screen>
    </div>
  </div>

  <div style="width: 100%; height: 60%; float: inline-end; text-align: center">
    <p style="font-size: 30px; color: greenyellow">
      <!-- <h1 id="lblSatisMesaj">@Model.Satis.SatisMesaj @Model.Satis.SatisMesaj @Model.Satis.SatisMesaj</h1> -->
    </p>
  </div>
</div>
