<div class="bg">
  <div
    class="page-wrapper"
    id="main-wrapper"
    data-layout="vertical"
    data-navbarbg="skin6"
    data-sidebartype="full"
    data-sidebar-position="fixed"
    data-header-position="fixed"
  >
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center"
    >
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0" style="filter: blur(100%)">
              <div class="card-body">
                <a
                  href="#"
                  class="text-nowrap logo-img text-center d-block py-3 w-100"
                >
                  <img
                    src="../../../assets/login/flora.bmp"
                    width="180"
                    alt=""
                  />
                </a>
                <p class="text-center">Canlı Satış Sistemi</p>
                <form [formGroup]="form" (ngSubmit)="login()">
                  <div class="mb-3">
                    <!-- <label for="exampleInputEmail1" class="form-label"
                      >Kullanıcı Adı</label
                    > -->
                    <input
                      type="text"
                      formControlName="username"
                      placeholder="Kullanıcı Adınız"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f['username'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f['username'].errors"
                      class="invalid-feedback"
                    >
                      <!-- <div *ngIf="f['username'].errors.['required']">
                        Username is required
                      </div> -->
                    </div>
                  </div>
                  <div class="mb-4">
                    <!-- <label for="exampleInputPassword1" class="form-label"
                      >Parola</label
                    > -->

                    <input
                      type="password"
                      formControlName="password"
                      placeholder="Parola"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f['password'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f['password'].errors"
                      class="invalid-feedback"
                    >
                      <div>Password is required</div>
                    </div>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between mb-4"
                  >
                    <div class="form-check">
                      <input
                        class="form-check-input primary"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked"
                        checked
                      />
                      <label
                        class="form-check-label text-dark"
                        for="flexCheckChecked"
                      >
                        Beni Hatırla
                      </label>
                    </div>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-between mb-4"
                  >
                    <a class="text-primary fw-bold" href="./index.html"
                      >Erişimde Problem mi Yaşıyorsunuz?</a
                    >
                  </div>

                  <a
                    (click)="login()"
                    class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                    >Giriş Yap</a
                  >
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
