<p style="font-size: 30px; color: greenyellow">
  <!-- @if (Model != null)
                    {
                        <label id="lblCicekAdi">@Model.Satis.CicekAdi</label>
                        <br>
                        <label id="lblCicekDemet">Demet: @Model.Satis.CicekDemet</label>
                        <br>

                        <label id="lblCicekAdet">Adet: @Model.Satis.CicekAdet</label>

                    }
                    else
                    { -->
  <label>---232</label>
  <br />
  <label>---.--</label>
  <br />
  <label>---.--</label>
</p>
